{% extends 'base.html' %}
{% load static %}

{% block title %} Change Password {% endblock%}
{% block content %}
<div class="login-register-banner">
    <div class="password-change">
        <div class="password-container">
            <h2 class="change-password">Change Password </h2>
            <div class="form-group form-change-password">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="btn-register">
                        <button class="btn btn-secondary btn-submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}