{% extends 'base.html' %}

{% block title %} Edit Profile {% endblock%}
{% block content %}


{% if user.is_authenticated %}

<div class="profile">
    <div class="profile-page">
        <h3 class="profile-page-title">Edit Profile</h3>
        <div class="form-group profile-page-form">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <div class="btn-login">
                    <button type="submit" class="btn btn-primary btn-submit">Submit</button>
                </div>
            </form>
        </div>
        {% else %}
        <!-- If the user ends up on this page without being logged in, a message will be displayed -->
        <div class="not-allow">
            <div class="not-allow-box">
                <p>You need to login to be able to edit your profile</p>
                <p><a href="{% url 'login' %}">Login Here</a></p>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}