{% extends "base.html" %}
{% load static %}
{% block title %} {{ post.title }} {% endblock %}

{% block content %}
<h3>Profile</h3>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            {% if user.profile.image %}
            <img src="{{ page_user.profile_pic.url }}" class="img-fluid rounded-start" alt="...">
            {% else %}
            <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Ft4.ftcdn.net%2Fjpg%2F00%2F64%2F67%2F63%2F360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg&imgrefurl=https%3A%2F%2Fstock.adobe.com%2Fsearch%3Fk%3D%2522default%2Bprofile%2Bpicture%2522&tbnid=fzm-cB-sF1nIvM&vet=12ahUKEwit8vf14pj2AhVEwIUKHYCgBg8QMygBegUIARDcAQ..i&docid=Ylh7sHyFI9lHtM&w=360&h=360&q=default%20profile%20picture%20&client=avast-a-1&ved=2ahUKEwit8vf14pj2AhVEwIUKHYCgBg8QMygBegUIARDcAQ"
                class="img-fluid rounded-start">
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{  page_user.user.first_name }}
                    {{  page_user.user.last_name }}
                </h5>

                {% if page_user.facebook_url %}
                <a href="{{ page_user.facebook_url }}">Facebook</a>
                {% endif %}
                {% if page_user.instagram_url %}
                | <a href="{{ page_user.instagram_url }}">Instagram</a></p>
                {% endif %}
                <p class="card-text">{{ page_user.bio }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}