{% extends 'base.html' %}
{% load static %}
{% block title %} Add Book Genres{% endblock%}
{% block content %}


{% if user.is_authenticated %}
<div class="cat">
    <div class="category-add">
        <h2 class="category-add-title">Add Categories</h2>
        <div class="form-group form-categories">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="btn-cat">
                    <button type="submit" class="btn btn-primary btn-submit">Submit</button>
                </div>
            </form>
        </div>
        {% else %}
        <div class="not-allow">
            <div class="not-allow-box">
                <p>You need to login to be able to delete a post</p>
                <p><a href="{% url 'login' %}">Login Here</a></p>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}