{% extends 'base.html' %}
{% block title %} Comment{% endblock%}
{% block content %}

{% if user.is_authenticated %}
<div class="comment-posts">
    <div class="add-comment">
        <div class="add-comment-post">
            <h2 class="comment-title">Add Comment</h2>
        </div>
        <div class="form-group form-comment">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="btn-login">
                    <button type="submit" class="btn btn-primary btn-submit">Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>
{% else %}

<p>Please <a href="{% url 'login' %}">login</a> to leave a comment</p>
{% endif %}
{% endblock %}