{% extends "base.html" %}
{% load static %}
{% block title %} {{ post.title }} {% endblock %}

{% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ post.post_title }}</h1>
                <p class="post-subtitle">Post by: {{ post.author }} | {{ post.created_on }} | <a
                        href="{% url 'category' post.category %}">{{ post.category }}</a></p>
                <div class="likes">
                    <form action="{% url 'like_post' post.pk %}" method="POST">
                        {% csrf_token %}
                        {% if user.is_authenticated %}
                        {% if liked %}
                        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-success btn-sm">
                            <i class="far fa-heart"></i> {{ total_likes }}</button>
                        {% else %}
                        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm">
                            <i class="far fa-heart"></i> {{ total_likes }}</button>
                        {% endif %}
                        {% with comments.count as total_comments %}
                        <i class="far fa-comments"></i>
                        {{ total_comments }}</strong>
                        {% endwith %}
                        {% else %}
                        <small><i class="far fa-heart"></i> <a href="{% url 'login' %}"> Login</a> to like</small>
                        {% endif %}
                    </form>
                </div>
                {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                <div class="update-post">
                    <button type="button" class="btn btn-outline-success button"><a
                            href="{% url 'update-post' post.pk %}">Edit</a></button>
                    <button type="button" class="btn btn-outline-danger button"><a
                            href="{% url 'delete-post' post.pk %}">Delete</a></button>
                </div>
                {% endif %}
                {% endif %}
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if post.image.url %}
                <img src=" {{ post.image.url }}" width="100%">
                {% else %}
                <img src="https://assets-client.avastbrowser.com/doodles/avast.png" width="100%">
                {% endif %}
            </div>

        </div>
    </div>
</div>

<div class=" container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text ">
                    {{ post.content|safe }}
                </p>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>


    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">

                {% if post.author.profile.profile_pic %}
                <img src="{{ post.author.profile.profile_pic.url }}" class="img-fluid rounded-start" alt="...">
                {% else %}
                <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Ft4.ftcdn.net%2Fjpg%2F00%2F64%2F67%2F63%2F360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg&imgrefurl=https%3A%2F%2Fstock.adobe.com%2Fsearch%3Fk%3D%2522default%2Bprofile%2Bpicture%2522&tbnid=fzm-cB-sF1nIvM&vet=12ahUKEwit8vf14pj2AhVEwIUKHYCgBg8QMygBegUIARDcAQ..i&docid=Ylh7sHyFI9lHtM&w=360&h=360&q=default%20profile%20picture%20&client=avast-a-1&ved=2ahUKEwit8vf14pj2AhVEwIUKHYCgBg8QMygBegUIARDcAQ"
                    class="img-fluid rounded-start">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{  post.author.profile.first_name }}
                        {{  post.author.profile.last_name }}
                    </h5>
                    <p><a href="{% url 'profile' post.author.profile.id %}">Profile</a>
                        {% if post.author.profile.facebook_url %}
                        | <a href="{{ post.author.profile.instagram_url }}">Facebook</a>
                        {% endif %}
                        {% if post.author.profile.instagram_url %}
                        | <a href="{{ post.author.profile.instagram_url }}">Instagram</a></p>
                    {% endif %}
                    <p class="card-text">{{ post.author.profile.bio }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row comment">
        <div class="col">

            <h5 class="comment-title">Comments...</h5>
            {% if not post.comments.all %}
            <p><a href="{% url 'add_comment' post.pk %}" class="add-comment">Add comment</a></p>
            {% else%}
            <p><a href="{% url 'add_comment' post.pk %}" class="add-comment">Add Comment</a></p>

            {% for comment in post.comments.all %}
            <strong>{{ comment.name}}</strong> - <small>{{ comment.date_added}}</small>
            <br>
            <p>{{ comment.body }}</p>
            {% endfor %}
            {% endif %}
        </div>
    </div>


</div>

{% endblock %}