{% extends "base.html" %}

{% block content %}

<div id="base">
    <div class="banner">
        <div class="image-banner">

        </div>
    </div>

    <div class="container">
        {% for post in object_list %}
        <article class="postcard light blue list-item">
            <div class="row">
                <div class="col-md-4">
                    <a class="postcard__img_link" href="{% url 'article-detail' post.pk  %}">
                        <img class="postcard__img img-fluid" src="{{ post.image.url }}" alt="Image Title" width="520"
                            height="400" />
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="postcard__text t-dark">
                        <p><a href="{% url 'category' post.category %}" class="categories-home">
                                {{ post.category }}</a></p>

                        <h3 class="postcard__title"><a
                                href="{% url 'article-detail' post.pk  %}">{{ post.post_title }}</a>
                        </h3>
                        <div class="postcard__bar"></div>
                        <div class="postcard__preview-txt">{{ post.content|slice:":200"|safe }}</div>
                        <br>
                        <div class="postcard__subtitle small">
                            <time datetime="2020-05-25 12:00:00">
                                <small class="post-date">{{ post.created_on}}</small>
                            </time>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </article>
        {% endfor %}
    </div>

    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">
                &laquo; Newer Posts </a>
            {% endif %}
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="page-link"> Older
                Posts &raquo; </a>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{%endblock%}