{% extends 'base.html' %}

{% block title %} Edit Post {% endblock%}
{% block content %}


{% if user.is_authenticated %}
{% if user.id == post.author.id %}
<div class="post">
    <div class="add-edit-post">
        <h2 class="add-edit-post-page">Edit Post</h2>
        <div class="form-group add-edit-post-form">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media}}
                {{ form.as_p }}
                <div class="btn-login">
                    <button type="submit" class="btn btn-primary btn-submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% else %}
<div class="not-allow">
    <div class="not-allow-box">
        <p>You need to login to be able to edit a post</p>
        <p><a href="{% url 'login' %}">Login Here</a></p>
    </div>
</div>
{% endif %}
{% else %}
<!-- If the user ends up on this page without being logged in, a message will be displayed -->
<div class="not-allow">
    <div class="not-allow-box">
        <p>You need to login to be able to edit a post</p>
        <p><a href="{% url 'login' %}">Login Here</a></p>
    </div>
</div>
{% endif %}
</div>


{% endblock %}